<template>
  <div class="c-container" style="background: white; text-align: center">
    <lightning-combobox
      name="boatType"
      label="Boat Type"
      value={value}
      placeholder="Boat Type"
      options={options}
      onchange={handleChange} style="font-size: 18px">
    </lightning-combobox>
  </div>
</template>