<template>
    <lightning-layout>
      <lightning-layout-item class="slds-align-middle">
        <!-- <template if:true={searchOptions}>
          <template for:each={searchOptions} for:item="option">
            <p key={option.value}>{option.value}</p>
          </template>
        </template> -->
        <lightning-combobox class="slds-align-middle"
          value={selectedBoatTypeId}
          options={searchOptions}
          onchange={handleSearchOptionChange} >
        </lightning-combobox>
      </lightning-layout-item>
    </lightning-layout>
</template>