<template>
    <lightning-layout multiple-rows>
      <!-- Top -->
      <lightning-layout-item size="12">
        <lightning-card title="Find a Boat">
          <p class="slds-var-p-horizontal_small">
            <c-boat-search-form></c-boat-search-form>
          </p>
        </lightning-card>
      </lightning-layout-item>
      <!-- Bottom -->
      <lightning-layout-item size="12" class="slds-p-top-small slds-is-relative">
        <!-- Spinner goes here -->
        <!-- boatSearchResults goes here -->
        <!-- onloading={handleLoading} ondoneloading={handleDoneLoading} -->
      </lightning-layout-item>
    </lightning-layout>
</template>